<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book For You!</title>

    <!-- CSS-->
    <link rel="stylesheet" href="/css/designSite2.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css.map">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css.map">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.css.map">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css.map">
    <link rel="shortcut icon" href="">



    <!-- JS -->

    <!-- Tillagd script-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src ="/js/bootstrap.bundle.js"> </script>
    <script src ="/js/bootstrap.bundle.js.map"> </script>
    <script src ="/js/bootstrap.bundle.min.js"> </script>
    <script src ="/js/bootstrap.bundle.min.js.map"> </script>
    <script src ="/js/bootstrap.js"> </script>
    <script src ="/js/bootstrap.js.map"> </script>
    <script src ="/js/bootstrap.min.js"> </script>
    <script src ="/js/bootstrap.min.js.map"> </script>


  </head>

  <body>
    <!-- med navbar expand lg kommer knappen på höger sida istället för höger som den skulle ha kommit ifall man skrev sm istälet för lg-->
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="/"> <img src="/img/bok_logo.png" alt="Logo" style="width:50px;">  </a>

    <!-- De tre raderna nedan skapar funktioen att då sidan visas på en mobil kommer navbaren att minskas till en knapp som användaren kommer behöva
    klicka på för att få fram alternativen.-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <!-- Gör så att navbaren blir horizontell och fixar även bakgrunden-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <!-- Navbar brand klassen gör den delen mera higlithed än de anddra-->
              <li class="nav-item"> <a class="nav-link" href="/"> Home</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/secondPage"> Books </a> </li>
              <li class="nav-item"> <a class="nav-link" href="/thirdPage"> Info</a> </li>
          </ul>
    </div>
</nav>



<!-- Body  data-->
<div class="container">

<!--  Titel för sidan -->
<!-- Row ------------------------------------------------------------------------------------------------------>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <h2 class="text-right" >Books </h2>
    </div>
    <div class="col-md-6">
      <img src="/img/bok_logo.png" class="img-responsive img-fluid" alt="Log" style="width:50px;">
    </div>
  </div>

  <!-- Horizontal row -->
  <hr class="mt-5 mb-5">

<!-- Row ------------------------------------------------------------------------------------------------------>
<!-- Kategorier-->
        <div class="row mb-5">
            <div class="col-md-12">
                  <h2> Categories:</h2>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <a href="/getHardcoverGraphicBooks" class="text-decoration-none"> <h6> Hardcover Graphic Books</h6> </a>
                          </div>
                          <div class="col-md-3">
                            <a href="/getHardcoverNonfiction" class="text-decoration-none"> <h6> Hardcover Nonfiction</h6> </a>
                          </div>
                          <div class="col-md-3">
                            <a href="/getBusiness" class="text-decoration-none"> <h6> Business </h6> </a>
                          </div>
                          <div class="col-md-3">
                             <a href="/getManga" class="text-decoration-none"> <h6> Manga </h6> </a>
                          </div>
                      </div>
                  </div>
            </div>
       </div>

       <hr class="mt-5 mb-5">

<!-- Böckerna-->
<!-- Row ------------------------------------------------------------------------------------------------------>
       <div class="row mb-5">
          <h2> Books: </h2>
       </div>

<!-- Bok 1 -->
       <div class="row mb-5">
          <div class="col-md-3">
              <img class="bookImages" src="<%= imageLink1 %>" alt="book_Image">
            </div>
            <div class="col-md-3">
              <h6> Titel:  <%= titel1 %> </h6>
              <h6> Author:  <%= author1 %> </h6>
              <h6> Publisher:  <%= publisher1 %> </h6>
              <h6> Rank:  <%= rank1 %></h6>
            </div>
            <div class="col-md-4">
              <h6> Description: </h6>
              <p>  <%= description1 %> </p>

            </div>
            <div class="col-md-2  my-auto">
              <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink1 %>"> Buy</a>

            </div>
       </div>

       <hr class="mt-5 mb-5">

       <!-- Bok 2 -->
              <div class="row mb-5">
                 <div class="col-md-3">
                     <img class="bookImages" src="<%= imageLink2 %>" alt="book_Image">
                   </div>
                   <div class="col-md-3">
                     <h6> Titel:  <%= titel2 %> </h6>
                     <h6> Author:  <%= author2 %> </h6>
                     <h6> Publisher:  <%= publisher2 %> </h6>
                     <h6> Rank:  <%= rank2 %></h6>
                   </div>
                   <div class="col-md-4">
                     <h6> Description: </h6>
                     <p>  <%= description2 %> </p>

                   </div>
                   <div class="col-md-2  my-auto">
                     <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink2 %>"> Buy</a>

                   </div>
              </div>

              <hr class="mt-5 mb-5">

              <!-- Bok 3 -->
                     <div class="row mb-5">
                        <div class="col-md-3">
                            <img class="bookImages" src="<%= imageLink3 %>" alt="book_Image">
                          </div>
                          <div class="col-md-3">
                            <h6> Titel:  <%= titel3 %> </h6>
                            <h6> Author:  <%= author3 %> </h6>
                            <h6> Publisher:  <%= publisher3 %> </h6>
                            <h6> Rank:  <%= rank3 %></h6>
                          </div>
                          <div class="col-md-4">
                            <h6> Description: </h6>
                            <p>  <%= description3 %> </p>

                          </div>
                          <div class="col-md-2  my-auto">
                            <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink3 %>"> Buy</a>

                          </div>
                     </div>

                     <hr class="mt-5 mb-5">

                     <!-- Bok 4 -->
                            <div class="row mb-5">
                               <div class="col-md-3">
                                   <img class="bookImages" src="<%= imageLink4 %>" alt="book_Image">
                                 </div>
                                 <div class="col-md-3">
                                   <h6> Titel:  <%= titel4 %> </h6>
                                   <h6> Author:  <%= author4 %> </h6>
                                   <h6> Publisher:  <%= publisher4 %> </h6>
                                   <h6> Rank:  <%= rank4 %></h6>
                                 </div>
                                 <div class="col-md-4">
                                   <h6> Description: </h6>
                                   <p>  <%= description4 %> </p>

                                 </div>
                                 <div class="col-md-2  my-auto">
                                   <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink4 %>"> Buy</a>

                                 </div>
                            </div>

                            <hr class="mt-5 mb-5">

                            <!-- Bok 5 -->
                                   <div class="row mb-5">
                                      <div class="col-md-3">
                                          <img class="bookImages" src="<%= imageLink5 %>" alt="book_Image">
                                        </div>
                                        <div class="col-md-3">
                                          <h6> Titel:  <%= titel5 %> </h6>
                                          <h6> Author:  <%= author5 %> </h6>
                                          <h6> Publisher:  <%= publisher5%> </h6>
                                          <h6> Rank:  <%= rank5 %></h6>
                                        </div>
                                        <div class="col-md-4">
                                          <h6> Description: </h6>
                                          <p>  <%= description5 %> </p>

                                        </div>
                                        <div class="col-md-2  my-auto">
                                          <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink5 %>"> Buy</a>

                                        </div>
                                   </div>

                                   <hr class="mt-5 mb-5">

                                   <!-- Bok 6 -->
                                          <div class="row mb-5">
                                             <div class="col-md-3">
                                                 <img class="bookImages" src="<%= imageLink6 %>" alt="book_Image">
                                               </div>
                                               <div class="col-md-3">
                                                 <h6> Titel:  <%= titel6 %> </h6>
                                                 <h6> Author:  <%= author6 %> </h6>
                                                 <h6> Publisher:  <%= publisher6 %> </h6>
                                                 <h6> Rank:  <%= rank6 %></h6>
                                               </div>
                                               <div class="col-md-4">
                                                 <h6> Description: </h6>
                                                 <p>  <%= description6 %> </p>

                                               </div>
                                               <div class="col-md-2  my-auto">
                                                 <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink6 %>"> Buy</a>

                                               </div>
                                          </div>

                                          <hr class="mt-5 mb-5">

                                          <!-- Bok 7 -->
                                                 <div class="row mb-5">
                                                    <div class="col-md-3">
                                                        <img class="bookImages" src="<%= imageLink7 %>" alt="book_Image">
                                                      </div>
                                                      <div class="col-md-3">
                                                        <h6> Titel:  <%= titel7 %> </h6>
                                                        <h6> Author:  <%= author7 %> </h6>
                                                        <h6> Publisher:  <%= publisher7 %> </h6>
                                                        <h6> Rank:  <%= rank7 %></h6>
                                                      </div>
                                                      <div class="col-md-4">
                                                        <h6> Description: </h6>
                                                        <p>  <%= description7 %> </p>

                                                      </div>
                                                      <div class="col-md-2  my-auto">
                                                        <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink7 %>"> Buy</a>

                                                      </div>
                                                 </div>

                                                 <hr class="mt-5 mb-5">


                                                 <!-- Bok 8-->
                                                        <div class="row mb-5">
                                                           <div class="col-md-3">
                                                               <img class="bookImages" src="<%= imageLink8 %>" alt="book_Image">
                                                             </div>
                                                             <div class="col-md-3">
                                                               <h6> Titel:  <%= titel8 %> </h6>
                                                               <h6> Author:  <%= author8 %> </h6>
                                                               <h6> Publisher:  <%= publisher8 %> </h6>
                                                               <h6> Rank:  <%= rank8 %></h6>
                                                             </div>
                                                             <div class="col-md-4">
                                                               <h6> Description: </h6>
                                                               <p>  <%= description8 %> </p>

                                                             </div>
                                                             <div class="col-md-2  my-auto">
                                                               <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink8 %>"> Buy</a>

                                                             </div>
                                                        </div>

                                                        <hr class="mt-5 mb-5">

                                                        <!-- Bok 9 -->
                                                               <div class="row mb-5">
                                                                  <div class="col-md-3">
                                                                      <img class="bookImages" src="<%= imageLink9 %>" alt="book_Image">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                      <h6> Titel:  <%= titel9 %> </h6>
                                                                      <h6> Author:  <%= author9 %> </h6>
                                                                      <h6> Publisher:  <%= publisher9 %> </h6>
                                                                      <h6> Rank:  <%= rank9 %></h6>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                      <h6> Description: </h6>
                                                                      <p>  <%= description9 %> </p>

                                                                    </div>
                                                                    <div class="col-md-2  my-auto">
                                                                      <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink9 %>"> Buy</a>

                                                                    </div>
                                                               </div>

                                                               <hr class="mt-5 mb-5">

                                                               <!-- Bok 10 -->
                                                                      <div class="row mb-5">
                                                                         <div class="col-md-3">
                                                                             <img class="bookImages" src="<%= imageLink10 %>" alt="book_Image">
                                                                           </div>
                                                                           <div class="col-md-3">
                                                                             <h6> Titel:  <%= titel10 %> </h6>
                                                                             <h6> Author:  <%= author10 %> </h6>
                                                                             <h6> Publisher:  <%= publisher10 %> </h6>
                                                                             <h6> Rank:  <%= rank10 %></h6>
                                                                           </div>
                                                                           <div class="col-md-4">
                                                                             <h6> Description: </h6>
                                                                             <p>  <%= description10 %> </p>

                                                                           </div>
                                                                           <div class="col-md-2  my-auto">
                                                                             <a type="button" class="btn btn-secondary btn-lg btn-block" href="<%= buyLink10 %>"> Buy</a>

                                                                           </div>
                                                                      </div>

                                                                      <hr class="mt-5 mb-5">

</div>

<!-- Body ovan-->

<!-- Footer -->
<footer class="page-footer font-small blue bg-secondary">
  <!-- Skaparens GitHub -->
  <div class="footer-copyright text-center py-3 bg-dark text-white">

<!-- Bilder för Bootstrap och NTAPI-->
    (2020) Created by:  <a href="https://github.com/Pettson01"> Robin Flink</a>
    <a class="ml-5" href="https://developer.nytimes.com/"> <img src="/img/bok_api_logo.png" alt="BookAPILogo"> </a>
  </div>

</footer>

<!-- Footer ovan-->

  </body>
</html>
